.box {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}
.box > ul {
  display: flex;
}
.box > ul > li {
  flex-direction: column;
  flex: 1;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
 
}
.box > ul > li > span {
  margin-top: 20px;
  font-size: 28px;
  color: #b0b0b0;
}
.box > ul > li > i {
  font-size: 50px;
  font-style: normal;
}
.box > ul > li.router-link-exact-active, .box > ul > li.router-link-exact-active span {
  color:pink;
}

  
